<div class="post">

    <!-- АВТОР И ДАТА ПОСТА -->

    {% if post.published_date %}
    <p class="post-meta">

        <strong>{{ post.author }}</strong>

        <span class="text-muted">
            • {{ post.published_date|date:"d.m.Y" }}
        </span>

    </p>
    {% endif %}

    <!-- РЕДАКТИРОВАНЕ И УДАЛЕНИЕ ПОСТА -->

    {% if user == post.author or user.is_superuser %}

    <div class="post-menu">

        <button class="post-menu-btn"
                onclick="togglePostMenu(event, this)">

            <i class="bi bi-three-dots-vertical"></i>

        </button>

        <div class="post-menu-dropdown">

            {% if user == post.author %}
            <a href="{% url 'post_edit' pk=post.pk %}">
            Редактировать
            </a>
            {% endif %}

            <a href="#"
               class="post-delete-btn">
                Удалить
            </a>

        </div>

    </div>

    {% endif %}

    <!-- МОДАЛЬНОЕ ОКНО ПОДТВЕРЖДЕНИЯ УДАЛЕНИЯ ПОСТА -->

    <div class="delete-modal-overlay"
         id="deletePostModal">

        <div class="delete-modal">

            <h3>
                Действительно удалить этот пост?
            </h3>

            <div class="delete-modal-actions">

                <button type="button"
                        class="delete-modal-cancel"
                        id="cancelDeletePost">

                    Отмена

                </button>

                <a href="{% url 'post_delete' pk=post.pk %}"
                   class="main-comment-submit">

                    Удалить

                </a>

            </div>

        </div>

    </div>

    <!-- TITLE -->

    <h1>{{ post.title }}</h1>

    <!-- CATEGORY -->

    {% if post.category %}

        <p>
            <strong>Category:</strong>
            {{ post.category }}
        </p>

    {% endif %}

    <!-- TAGS -->

    {% if post.tags.all %}

        <p>

            <strong>Tags:</strong>

            {% for tag in post.tags.all %}

                {{ tag.name }}

                {% if not forloop.last %}
                    ,
                {% endif %}

            {% endfor %}

        </p>

    {% endif %}

    <!-- IMAGE -->

    {% if post.image %}

        <img src="{{ post.image.url }}"
             class="img-responsive img-rounded">

        <br>

    {% endif %}

    <!-- POST TEXT -->

    <p>{{ post.text|linebreaksbr }}</p>

</div>