{% extends 'blog/base.html' %}

{% block content %}

    {% for post in page_obj %}

        <div class="post">

            <!-- РЕДАКТИРОВАНЕ И УДАЛЕНИЕ ПОСТА -->

            {% if user == post.author or user.is_superuser %}

            <div class="post-menu">

                <button class="post-menu-btn"
                        onclick="togglePostMenu(event, this)">

                    <i class="bi bi-three-dots-vertical"></i>

                </button>

                <div class="post-menu-dropdown">

                    {% if user == post.author %}
                    <a href="{% url 'post_edit' pk=post.pk %}">
                        Редактировать
                    </a>
                    {% endif %}

                    <a href="#"
                       class="post-delete-btn"
                       data-delete-url="{% url 'post_delete' pk=post.pk %}">
                        Удалить
                    </a>

                </div>

            </div>

            {% endif %}

            <p class="post-meta">

                <strong>{{ post.author }}</strong>

                <span class="text-muted">
                    • {{ post.published_date|date:"d.m.Y" }}
                </span>

            </p>

            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h1>

            {% if post.category %}

                <p>
                    <strong>Category:</strong>
                    {{ post.category }}
                </p>

            {% endif %}

            {% if post.image %}

                <img src="{{ post.image.url }}"
                     class="img-responsive">

                <br>

            {% endif %}

            <p>
                {{ post.text|truncatewords:30|linebreaksbr }}
            </p>

            <a href="{% url 'post_detail' pk=post.pk %}"
               class="read-more-link">
                Читать дальше
            </a>

            <hr>

        </div>

    {% empty %}

        <p>No posts found.</p>

    {% endfor %}


    <!-- PAGINATION -->

    <div class="custom-pagination">

        <div class="pagination-left">

            {% if page_obj.has_previous %}

                <a href="?page=1"><<</a>

                <a href="?page={{ page_obj.previous_page_number }}">
                    <
                </a>

            {% endif %}

        </div>

        <div class="pagination-center">

            Страница {{ page_obj.number }}
            из {{ page_obj.paginator.num_pages }}

        </div>

        <div class="pagination-right">

            {% if page_obj.has_next %}

                <a href="?page={{ page_obj.next_page_number }}">
                    >
                </a>

                <a href="?page={{ page_obj.paginator.num_pages }}">
                    >>
                </a>

            {% endif %}

        </div>

    </div>

{% endblock %}