{% extends 'blog/base.html' %}

{% block content %}

    <h1 class="text-center page-title">{{ title }}</h1>

    <form method="POST"
          class="post-form"
          enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="action-btn">
                {% if post %}
                    Сохранить изменения
                {% else %}
                    Создать пост
                {% endif %}
            </button>
        </div>

    </form>

{% endblock %}