body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.page-header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    padding: 15px 30px;

    background: #ff9400;

    border-bottom: 1px solid #e5e5e5;

    margin: 0 0 20px;
}

/* ==========================
   ЛОГО
========================== */

.header-logo a {

    font-size: 32px;

    font-family: 'Lobster', cursive;

    color: #ffffff;

    text-decoration: none;
}

/* ==========================
   ПОИСК
========================== */

.header-search {

    flex: 1;

    display: flex;

    justify-content: center;
}

.header-search form {

    display: flex;

    width: 100%;

    max-width: 500px;
}

.header-search input {

    flex: 1;

    height: 40px;

    padding: 0 15px;

    border: 1px solid #ddd;

    border-right: none;

    border-radius: 20px 0 0 20px;

    outline: none;
}

.header-search button {

    width: 50px;

    border: 1px solid #ddd;

    background: #f8f8f8;

    border-radius: 0 20px 20px 0;

    cursor: pointer;
}

.header-search button:hover {

    background: #eee;
}

/* ==========================
   МЕНЮ
========================== */

.header-menu {

    display: flex;

    align-items: center;

    gap: 15px;
}

.top-menu {

    color: white;

    text-decoration: none;

    font-size: 16px;

    font-weight: 600;
}

.top-menu:hover {

    color: white;

    opacity: .8;

    text-decoration: none;
}



/* CONTENT */

.content {
    margin-top: 30px;
}


/* POSTS */

.post {

    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;

    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.post h1 a,
.post h1 a:visited {

    color: #000000;

    text-decoration: none;
}

.post h1 a:hover {

    color: #ff9400;
}

/* АВТОР ПОСТА */

.post-meta {

    margin-bottom: 15px;

    font-size: 14px;
}

.post-meta strong {

    color: #000;
}

.date {

    color: #828282;

    margin-bottom: 15px;
}


/* IMAGES */

.post img {

    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* FORMS */

.post-form textarea,
.post-form input,
.post-form select {

    width: 100%;

    padding: 10px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

.save {
    float: right;
}


/* BUTTONS */

.btn {

    border-radius: 5px;
}

.btn-default {

    background-color: #ff9400;

    color: white;

    border: none;
}

.btn-default:hover {

    background-color: #e67e00;

    color: white;
}

.btn-danger {

    margin-left: 10px;
}

/* ====================================
        МЕНЮ РЕДАКТИРОВАНЯ ПОСТА   
==================================== */

/* Контейнер для кнопки [⋮] и выпадающего меню */

.post-menu {

    position: absolute;

    top: 15px;

    right: 15px;
}

/* Кнопка [⋮] */

.post-menu-btn {

    border: none;

    background: transparent;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    cursor: pointer;

    color: #606060;

    transition: .2s;
}

.post-menu-btn:hover {

    background: #e6e6e6;

    color: #000;
}

/* Выпадающее меню ([Редактировать] / [Удалить]) */

.post-menu-dropdown {

    display: none;

    position: absolute;

    top: 42px;

    right: 0;

    min-width: 160px;

    background: white;

    border-radius: 12px;

    box-shadow: 0 2px 12px rgba(0,0,0,.15);

    overflow: hidden;

    z-index: 100;
}

/* Включение меню ([Редактировать] / [Удалить]) */

.post-menu-dropdown.show {

    display: block;
}

.post-menu-dropdown a {

    display: block;

    padding: 12px 16px;

    color: #000;

    text-decoration: none;
}

/* Подсветка пункта меню при наведении */

.post-menu-dropdown a:hover {

    background: #f2f2f2;
}

/* ==========================================
 МОДАЛЬНОЕ ОКНО ПОДТВЕРЖДЕНИЯ УДАЛЕНИЯ ПОСТА   
========================================== */

/* Затемнение экрана + блокировка кликов по странице */

.delete-modal-overlay {

    display: none;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);

    z-index: 9999;

    justify-content: center;

    align-items: center;
}

.delete-modal-overlay.show {

    display: flex !important;
}

/* Модальное окно */

.delete-modal {

    background: white;

    padding: 24px;

    border-radius: 16px;

    width: 400px;

    max-width: 90%;

    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

/* "Действительно удалить этот пост?" */

.delete-modal h3 {

    margin: 0 0 20px 0;

    text-align: center;

    font-size: 18px;

    font-weight: 600;
}

/* Размещает кнопки: [Отмена] слева [Да] справа */

.delete-modal-actions {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;
}

.delete-modal-actions .main-comment-submit {

    text-decoration: none;

    display: inline-flex;

    align-items: center;

    justify-content: center;
}

.delete-modal-actions .main-comment-submit:hover {

    background: #e68600;

    color: #fff !important;

    text-decoration: none !important;
}

.delete-modal-cancel {

    -webkit-appearance: none;
    appearance: none;

    border: 0;
    outline: 0;
    box-shadow: none;

    background: transparent;

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 8px 14px;

    border-radius: 999px;

    color: #606060;

    cursor: pointer;

    font-weight: 500;

    transition: 0.2s ease;
}

/* Состояние кнопки [Отмена] при наведении мыши */

.delete-modal-cancel:hover {

    background: rgba(0,0,0,0.08);

    color: #000;
}

/* ====================================
   СЧЕТЧИК И СОРТИРОВКА КОММЕНТАРИЕВ   
==================================== */

/* Отвечает за расположение элементов: Comments (15) Упорядочить */

.comments-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 25px;
}

/* Счетчик комментариев */

.comments-title {

    margin: 0;

    font-size: 18px;

    font-weight: 700;
}

/* Отвечает за то, чтобы выпадающее меню открывалось относительно кнопки "Упорядочить", а не относительно всей страницы. */

.comments-sort {

    position: relative;

    display: inline-block;
}

/* Кнопка "Упорядочить" */

.sort-btn {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    gap: 8px;

    padding: 6px 12px;

    border: none;

    background: transparent;

    border-radius: 12px;

    text-decoration: none;

    color: #606060;

    font-size: 18px;

    font-weight: 600;

    transition: 0.2s ease;

    cursor: pointer;

    white-space: nowrap;

    flex-shrink: 0;
}

/* Наведение на "Упорядочить" */

.sort-btn:hover {

    background: #e6e6e6;

    color: #000;
}

/* Стрелка рядом с кнопкой "Упорядочить" */

.sort-arrow {

    width: 8px;

    height: 8px;

    border-right: 2px solid currentColor;

    border-bottom: 2px solid currentColor;

    transform: rotate(45deg);

    display: inline-block;

    margin-left: 8px;

    margin-top: -3px;
}

/* Выпадающее меню */

.sort-menu {

    display: none;

    position: absolute;

    right: 0;

    top: 100%;

    width: 100%;

    margin-top: 8px;

    background: white;

    border-radius: 12px;

    box-shadow: 0 2px 12px rgba(0,0,0,.15);

    z-index: 100;
}

/* Отображение меню */

.sort-menu.show {

    display: block;
}

/* Оформление каждого пункта меню */

.sort-menu a {

    display: block;

    padding: 12px 16px;

    color: #000;

    text-decoration: none;
}

/* Оформление каждого пункта меню при наведении */

.sort-menu a:hover {

    background: #f2f2f2;
}

/* =========================
  ФОРМА ВВОДА КОММЕНТАРИЕВ
========================= */

.main-comment-form {

    margin-bottom: 30px;
}

/* Поле ввода комментария */

.main-comment-input {

    width: 100%;

    border: none;

    border-bottom: 1px solid #ccc;

    background: transparent;

    padding: 8px 0;

    outline: none;

    font-size: 15px;

    resize: none;

    overflow: hidden;

    height: 38px;

    line-height: 19px;  

}

/* Состояние при нажатии на поле ввода */

.main-comment-input:focus {

    border-bottom: 2px solid #000;
}

/* Контейнер для кнопок: [Отмена] [Оставить комментарий] */

.main-comment-actions {

    display: none;

    justify-content: flex-end;

    gap: 10px;

    margin-top: 12px;
}

/* Кнопка [Отмена] */

.main-comment-cancel {

    -webkit-appearance: none;
    appearance: none;

    border: 0;
    outline: 0;
    box-shadow: none;

    background: transparent;

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 8px 14px;

    border-radius: 999px;

    color: #606060;

    cursor: pointer;

    font-weight: 500;

    transition: 0.2s ease;
}

/* Состояние кнопки [Отмена] при наведении мыши */

.main-comment-cancel:hover {

    background: rgba(0,0,0,0.08);

    color: #000;
}

/* Кнопка [Оставить комментарий] */

.main-comment-submit {

    border: none;

    background: #ff9400;

    color: white;

    padding: 8px 18px;

    border-radius: 999px;

    font-weight: 500;

    transition: 0.2s ease;

    cursor: pointer;
}

/* Состояние кнопки [Оставить комментарий] при наведении мыши */

.main-comment-submit:hover {

    opacity: 0.85;
}

/* =========================
   YOUTUBE STYLE COMMENTS
========================= */

/* COMMENTS */

.comment {

    position: relative;

    background: #fafafa;

    padding: 15px;

    border-radius: 8px;

    margin-bottom: 20px;

    border-left: 4px solid #ff9400;
}

.comment-form-wrapper {

    margin-bottom: 30px;
}

.yt-comment {

    margin-bottom: 35px;

    padding-bottom: 20px;

    border-bottom: 1px solid #e5e5e5;
}

.comment-header {

    display: flex;

    align-items: center;

    gap: 10px;

    margin-bottom: 8px;
}

.comment-author {

    font-weight: bold;

    color: #0f0f0f;
}

.comment-date {

    color: #777;

    font-size: 13px;
}

.comment-text {

    margin-bottom: 10px;

    line-height: 1.6;

    color: #222;

    overflow-wrap: break-word;

    word-break: break-word;

    white-space: pre-wrap;

}

.comment-actions {

    display: flex;

    align-items: center;

    gap: 15px;

    flex-wrap: nowrap;

    margin-bottom: 15px;
}

.comment-action-btn {

    color: #606060;

    text-decoration: none;

    font-size: 13px;

    font-weight: bold;
}

.comment-action-btn:hover {

    color: #ff9400;

    text-decoration: none;
}

.no-comments {
    color: #606060;
}

.delete-btn {

    color: #cc0000;
}

.replies {

    margin-left: 40px;

    margin-top: 15px;
}

.yt-reply {

    padding-left: 15px;

    border-left: 2px solid #e5e5e5;

    margin-bottom: 20px;
}

.reply-form {

    margin-top: 15px;
}

.tag {

    background: #eee;

    padding: 5px 10px;

    border-radius: 20px;

    margin-right: 5px;

    font-size: 12px;
}

.post-text {

    font-size: 16px;

    line-height: 1.8;
}

/* PAGINATION */

.pagination {

    margin-top: 30px;

    text-align: center;
}

.pagination a {

    margin: 0 10px;

    text-decoration: none;

    color: #ff9400;

    font-weight: bold;
}


/* MOBILE */

@media (max-width: 768px) {

    .page-header {

        padding: 20px;
    }

    .content {

        margin-left: 10px;
        margin-right: 10px;
    }

    .post {

        padding: 15px;
    }

    .page-header h1 {

        font-size: 28pt;
    }
}

/*========================
   YOUTUBE LIKE BUTTONS
=========================*/
.yt-like-btn {

    display: inline-flex;

    align-items: center; 

    gap: 6px;

    border: none;

    background: transparent;

    color: #606060;

    cursor: pointer;

    padding: 6px 10px;

    border-radius: 999px;

    transition: 0.2s ease;

    font-size: 14px;

    font-weight: 500;
}

.yt-like-btn:hover {

    background: rgba(0,0,0,0.08);

    color: #000;

    text-decoration: none;
}

.yt-like-btn i {

    font-size: 16px;

    line-height: 1;
}

/* ACTIVE LIKE */

.active-like {

    color: #065fd4;
}

/* ACTIVE DISLIKE */

.active-dislike {

    color: #cc0000;
}

/* =========================
   YOUTUBE REPLY BUTTON
========================= */

.reply-toggle {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 6px 12px;

    border-radius: 999px;

    text-decoration: none;

    color: #606060;

    font-size: 14px;

    font-weight: 500;

    transition: 0.2s ease;

    cursor: pointer;

    white-space: nowrap;

    flex-shrink: 0;
}

.reply-toggle:hover {

    background: rgba(0,0,0,0.08);

    color: #000;

    text-decoration: none;
}

/* =============================
 СКРЫТИЕ ВЛОЖЕННЫХ КОММЕНТАРИЕВ
============================= */

.hidden-replies {
    display: none;
}

.toggle-replies {

    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    z-index: 10;

    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 999px;
    padding: 6px 12px;

    outline: none;
    border: none;
}

.toggle-replies:hover {
    background: rgba(0,0,0,0.08);
    color: #000;
    text-decoration: none;
}

.toggle-arrow {
    width: 8px;
    height: 8px;

    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    transform: rotate(-45deg);

    display: inline-block;

    margin-right: 8px;

    transition: transform 0.2s ease;
}

.toggle-replies.open .toggle-arrow {
    transform: rotate(45deg);
}

.hidden {
    display: none;
}

/* =========================
   ВЛОЖЕННЫЕ КОММЕНТАРИИ
========================= */

.reply-form-wrapper {

    display: none;

    margin-top: 10px;

    margin-bottom: 15px;
}

/* Поле для ввода ответа на комментарий */

.reply-input {

    width: 100%;

    border: none;

    border-bottom: 1px solid #ccc;

    background: transparent;

    padding: 8px 0;

    outline: none;

    font-size: 15px;

    resize: none;

    overflow: hidden;

    height: 38px;

    line-height: 19px; 

}

/* Состояние при нажатии на поле ввода */

.reply-input:focus {

    border-bottom: 2px solid #000;
}

.reply-actions {

    display: flex;

    justify-content: flex-end;

    gap: 10px;

    margin-top: 10px;
}


/* Кнопка [Отмена] для вложенных комментариев */

.reply-cancel {

    -webkit-appearance: none;
    appearance: none;

    border: 0;
    outline: 0;
    box-shadow: none;
    background: transparent;

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 8px 14px;

    border-radius: 999px;

    color: #606060;

    cursor: pointer;

    transition: 0.2s ease;

    font-weight: 500;

}

.reply-cancel:hover {

    background: rgba(0,0,0,0.08);

    color: #000;
}


/* Кнопка [Ответить] для вложенных комментариев */

.reply-submit {

    border: none;

    background: #ff9400;

    color: white;

    padding: 8px 18px;

    border-radius: 999px;

    font-weight: 500;

    transition: 0.2s ease;
}

.reply-submit:hover {

    opacity: 0.85;
}

/* =========================
     МЕНЮ КОММЕНТАРИЕВ
========================= */

/* Размещение меню */

.comment-menu {

    position: absolute;

    top: 12px;

    right: 12px;
}

/* Кнопка троеточия */

.comment-menu-btn {

    border: none;

    background: transparent;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    cursor: pointer;

    font-size: 22px;

    color: #606060;

    transition: 0.2s ease;
}

/* Состояние при наведении мыши */

.comment-menu-btn:hover {

    background: #e6e6e6;

    color: #000;
}

/* Настройки иконки троеточия */

.comment-menu-btn i {

    font-size: 16px;

}

/* Выпадающее меню */

.comment-menu-dropdown {

    display: none;

    position: absolute;

    top: 42px;

    right: 0;

    min-width: 140px;

    background: white;

    border-radius: 12px;

    box-shadow: 0 2px 12px rgba(0,0,0,.15);

    overflow: hidden;

    z-index: 100;
}

/* Отображение меню */

.comment-menu-dropdown.show {

    display: block;
}

/* Оформление каждого пункта меню */

.comment-menu-dropdown a {

    display: block;

    padding: 12px 16px;

    text-decoration: none;

    color: #000;
}

/* Оформление каждого пункта меню при наведении */

.comment-menu-dropdown a:hover {

    background: #f2f2f2;
}

/* =========================
   EDIT COMMENT
========================= */

.edit-form-wrapper {

    display: none;

    margin-top: 10px;
}

.edit-input {

    width: 100%;

    border: none;

    border-bottom: 1px solid #ccc;

    background: transparent;

    padding: 0 0 8px 0;

    outline: none;

    font-size: 14px;

    resize: none;

    overflow: hidden;

    min-height: 0px;

    line-height: 1.6;

    white-space: pre-wrap;
}

.edit-input:focus {

    border-bottom: 2px solid #000;
}

.edit-actions {

    display: flex;

    justify-content: flex-end;

    gap: 10px;

    margin-top: 12px;
}

/* Отмена */

.edit-cancel {

    -webkit-appearance: none;
    appearance: none;

    border: 0;
    outline: 0;

    background: transparent;

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 8px 14px;

    border-radius: 999px;

    color: #606060;

    cursor: pointer;

    font-weight: 500;

    transition: .2s ease;
}

.edit-cancel:hover {

    background: rgba(0,0,0,.08);

    color: #000;
}

/* Сохранить */

.edit-save {

    border: none;

    background: #ff9400;

    color: white;

    padding: 8px 18px;

    border-radius: 999px;

    font-weight: 500;

    cursor: pointer;

    transition: .2s ease;
}

.edit-save:hover {

    opacity: .85;
}

/* =========================
 УБИРАЕТ РАМКУ ПРИ НАЖАТИИ
========================= */

.delete-modal-actions a:focus,
.comment-menu-dropdown a:focus,
.sort-menu a:focus,
.post-menu-dropdown a:focus {

    outline: none;
    box-shadow: none;
}
