<div id="comments-container">

    {% for comment in comments %}

        {% include 'blog/comments/comment_item.html' %}

    {% empty %}

        <p class="no-comments"
           id="no-comments">
            Нет комментариев
        </p>

    {% endfor %}

</div>

<!-- МОДАЛЬНОЕ ОКНО УДАЛЕНИЯ КОММЕНТАРИЯ -->

<div class="delete-modal-overlay"
     id="deleteCommentModal">

    <div class="delete-modal">

        <h3>
            Действительно удалить комментарий?
        </h3>

        <div class="delete-modal-actions">

            <button type="button"
                    class="delete-modal-cancel"
                    id="cancelDeleteComment">
                Отмена
            </button>

            <button type="button"
                    class="main-comment-submit"
                    id="confirmDeleteComment">
                Удалить
            </button>

        </div>

    </div>

</div>