<!-- COMMENTS HEADER -->

<div class="comments-header">

    <h2 class="comments-title">
        Комментарии ({{ post.total_comments }})
    </h2>

    <div class="comments-sort">

        <button type="button"
                class="sort-btn"
                onclick="toggleSortMenu(event)">

            Упорядочить
            <span class="sort-arrow"></span>

        </button>

        <div class="sort-menu" id="sortMenu">

            <a href="?sort=new">Сначала новые</a>
            <a href="?sort=old">Сначала старые</a>
            <a href="?sort=popular">Популярные</a>

        </div>

    </div>

</div>

<!-- ФОРМА ВВОДА КОММЕНТАРИЕВ -->

{% if user.is_authenticated %}

<div class="comment-form-wrapper">

    <form id="comment-form"
          method="POST"
          action="{% url 'add_comment' pk=post.pk %}"
          class="main-comment-form">

        {% csrf_token %}

        <textarea
            name="text"
            class="main-comment-input"
            placeholder="Введите комментарий"
            required></textarea>

        <div class="main-comment-actions">

            <button type="button"
                    class="main-comment-cancel">
                Отмена
            </button>

            <button type="submit"
                    class="main-comment-submit">
                Оставить комментарий
            </button>

        </div>

    </form>

</div>

{% else %}

    <p>

        Please
        <a href="{% url 'login' %}">
            login
        </a>
        to comment.

    </p>

{% endif %}