<!-- REPLIES -->

<div class="comment reply" 
     style="margin-left: 40px; margin-top: 20px; border-left: 3px solid #ddd; padding-left: 15px;">

    <p class="comment-meta">
        <strong>{{ reply.author }}</strong>
        <span class="text-muted">• {{ reply.created_date|date:"d.m.Y" }}</span>
    </p>

    <p class="comment-text">{{ reply.text }}</p>

    <div class="edit-form-wrapper">
        <textarea class="edit-input"
                  data-original="{{ reply.text }}">{{ reply.text }}</textarea>

        <div class="edit-actions">
            <button type="button" class="edit-cancel">Отмена</button>
            <button type="button" class="edit-save" data-id="{{ reply.id }}">Сохранить</button>
        </div>
    </div>

    <div class="comment-actions">

        <a class="like-btn yt-like-btn" data-id="{{ reply.pk }}">
            <i class="bi bi-hand-thumbs-up"></i>
            <span class="like-count">{{ reply.total_likes }}</span>
        </a>

        <a class="dislike-btn yt-like-btn" data-id="{{ reply.pk }}">
            <i class="bi bi-hand-thumbs-down"></i>
            <span class="dislike-count">{{ reply.total_dislikes }}</span>
        </a>

    </div>

</div>